*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
  }
  
  
  
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
.wrappersign{
    
    width:420px;
    background:transparent;
    border: 2px solid rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: black;
    border-radius: 10px;
    /* padding:30px 40px; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* background-image: url('') no repeat; */
    display:flex;
    justify-content:center;
    align-items: center;
    min-height: 50vh;
    background-size: cover;
    background-position: center;
    margin-left: 40.5rem;
    margin-top: 17rem;
    margin-bottom: 6rem;
}
.wrappersign h1{
    margin-top: 10%;
    font-size:36px;
    text-align: center;
}

.wrappersign .input-boxsign {
    position:relative;
    width: 100%;
    height:50px;
    margin: 30px 0;
}

.input-boxsign input{
    width:100%;
    height:100%;
    background:transparent;
    
    
    border:2px solid rgba(0, 0, 0, 0.2);
    outline:none;
    border-radius :40px;
    font-size: 16px;
    color: #ae7d7de3;
    padding:20px 45px 20px 20px;
}
.input-boxsign input::placeholder{
    color: #726f6f9f;
}
.input-boxsign .iconmax{
    position:absolute;
    right:20px;
    top:50%;
    transform: translate(-50%);
    font-size: 16px;

}
.wrappersign .remember-forgot{
    display:flex;
    justify-content:space-between;
    font-size:14.5px;
    margin: -15px 0 15px;

}
.remember-forgot label input{
    accent-color:#020202;
    margin-right:4px;
}
.remember-forgot a{
    color:#020202;
    text-decoration: none;
}
.remember-forgot a:hover{
    text-decoration: underline;
}

.wrappersign button{
    width:100%;
    height: 45px;
    background: #da3939;
    border:none;
    outline: none;
    border-radius:40px;
    box-shadow:0 0 10px rgba(0,0,0, .1);
    cursor:#333;
    font-weight:700;
    color:#000000;
    font-weight: 700;


}
.wrappersign .register-linksign{
    font-size:14.5px;
    text-align:center;
    margin-top: 20px;
}
.register-linksign p a {
    color:#000000;
    text-decoration:none;
    font-weight:600;
}
.register-linksign p a:hover{
    text-decoration: underline;
}
.alr{
    text-align: center;
}
.alr a{
    color:#000000;
}